.launch-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 80px auto;
}

.launch-card {
  max-width: 250px;
  margin: 20px;
  color: #666;
  padding: 10px 20px;
  box-shadow: 10px 10px 20px #222;

  span {
    color: #999;
  }

  h2 {
    color: #999;
    letter-spacing: 2px;
  }
}

.Btn {
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid gray;
  outline-color: orange;
  font-size: 0.925rem;
}